*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    
}

html, body {
    height:100%;
}
.clear {
    clear:both;
}
.center {
    display:flex;
    margin:0 auto;
    flex-wrap:wrap;
    max-width:1100px;
    padding:0 2%;
}
section.main {
    background-image:url('../images/bg.svg');
    min-height:700px;
    background-position:center;
    background-size:cover;
    padding:20px 0 80px 0;
}
.menu {
    display:flex;
    width:100%;
}
.logo-menu {
    width:50%;
}
.items-menu {
    width:50%;
    text-align:center;
}
.items-menu a {
    text-decoration:none;
    color:#fff;
    display:inline-block;
    margin:0 10px;
    font-weight:bold;
}
.items-menu a:hover {
    border-bottom:2px solid #FFDD33;
}
.items-menu a.contact-btn {
    background-color:#0F3FD3;
    padding:10px 10px;
    border-radius:10px;
}
.items-menu a.contact-btn:hover{
    border:0;
}
/*-------------MENU MOBILE-------------*/
.items-menu-mobile {
    width:50%;
    text-align:right;
    display:none;
}
.items-menu-mobile i {
    color:#fff;
    position:relative;
    top:15px;
    font-size:23px;
    cursor: pointer;
}
.menu-mobile{
    opacity:0;
    transition: 1s;
    position: absolute;
    left:0;
    top:65px;
    background-color: white;
    width:100%;
    padding:15px 0;
    text-align: center;
    display:;
}
.mockup {
    display: block;
    width:100%;
    color:#fff;
    text-align:center;
    padding-top:100px;
}
.mockup h1 {
    font-size:50px;
}
.mockup img {
    max-width:100%;
}
section.marcas{
    padding:100px 0;
}
section.marcas img {
    width:calc(100% / 5);
}
section.porque-nos{
    padding:40px 0;
    background-color:  #FBFCFE;

}
section.porque-nos > .center > h2 {
    font-size:64px;
    text-align:center;
    width:100%;
}
section.porque-nos > .center {
    max-width:1280px;
}
section.porque-nos > .center > p {
    font-size:14px;
    color:#ccc;
    text-align:center;
    width:100%;
}
.diferenciais {
    display:flex;
    margin-top:50px;
}
.box-diferenciais {
    box-shadow:0px 20px 40px #2426721C;
    width:33.3%;
    margin-right:2%;
    padding:10px 20px;
    border-radius:10px;
}
.box-diferenciais h3 {
    font-size:23px;
    color:#000;
    margin:20px 0;
}
.box-diferenciais p {
    font-size:13px;
    color:#7E92AC;
    margin-bottom:20px;
}
section.cta {
    background-image:url('../images/banner_meio.svg');
    min-height:200px;
    padding:20px 10px;
    color:#fff;
    text-align:center;
    background-position:center;
    background-size:cover;
}
section.cta h2, section.cta h4 {
    font-weight:normal;
    margin:10px 0;
}
section.cta h2{
    font-size: 40px;
}
section.cta a{
    display: inline-block;
    padding:8px 15px;
    border-radius:7px;
    font-weight: bold;
    font-size: 17px;
    background: #FFDD33;
    text-decoration: none;
    color: #0F3FD3;
}
section.beneficios > .center {
    max-width:1280px;
}
section.beneficios {
    padding:50px 0;
}
.lista-beneficios {
    width:40%;
    margin-top:30px;
}
.lista-beneficios h1 {
    color:#000;
    font-size:40px;
}
.lista-beneficios p {
    color:#7E92AC;
    font-size:14px;
    vertical-align:middle;
}
.lista-beneficios span{
    display: inline-block;
    width: calc(100% - 70px);
}
.lista-beneficios img {
    display:inline-block;
    vertical-align:middle;
    width:70px;
}
.img-beneficios{
    width: 60%;
}
.img-beneficios img{max-width: 100%;}

section.depoimentos{
    background-color: #FBFCFE;
    padding:40px 0;
}
section.depoimentos > .center {
    display:block;
}
section.depoimentos > h1{
    text-align: center;
    font-size: 50px;
}
.container-slider {
    padding:40px 0;
    max-width:1200px;
}
.container-slider-single {
    float:left;
    background-color:#fff;
    text-align:center;
    padding:15px;
    border-radius:10px;
}
.container-slider-single p {
    margin:15px 0;
    color:#7E92AC;
    font-size:14px;
}
.slick-slide {
    margin-left:27px;

}
.container-slider {
    overflow:hidden;
    padding:40px 0;
}
section.contato > .center {
    max-width:900px;
}
section.contato{
    padding:40px 0;
    text-align: center;
}

section.contato h1{
    font-size: 50px;
}
section.contato form{
    width:100%;
}
.contato input[type=text],
.contato input[type=email]
{
    width:100%;
    height:50px;
    margin:20px 0;
    border-radius:10px;
    background: #FCFDFF;
    border: 1px solid #C3CCE8;
    padding-left: 10px;
}
.contato textarea{
    width:100%;
    height:120px;
    margin:20px 0;
    border-radius:10px;
    background: #FCFDFF;
    border: 1px solid #C3CCE8;
    padding: 10px;
    resize: vertical;
}
.contato input[type=submit]{
    width:100%;
    height:50px;
    display: block;
    cursor: pointer;
    border: 0;
    background: #255AFF;
    color:white;
    font-size: 18px;
    border-radius:10px;
}
footer {
    padding:10px 0;
    background-color:#255AFF;
    color:#fff;
}
.text-footer {
    width:50%;
    padding:8px 0;
}
@media screen and (max-width:768px) {
    .items-menu-mobile {
        display:block;
    }
    section.main .items-menu{
        display: none;
    }
    .show{
        opacity: 1;
    }
    .hide{
        opacity: 0;
    }
    
    .menu-mobile a{
        text-align: center;
        display: block;
        margin:8px 0;
        color:rgb(40,40,40);
        text-decoration: none;
        font-weight: bold;
        border-bottom:1px solid rgb(40,40,40);
        padding:8px 0;
    
    }
    section.marcas > .center {
        flex-wrap:nowrap;
        flex-direction:column;
        align-items:center;
    }
    section.marcas img {
        width:100%;
        max-width:300px;
    }
    .diferenciais{ 
        flex-wrap: wrap;
    }
    .box-diferenciais{
        width:100%;
        margin-right: 0;  
    }
    .lista-beneficios,.img-beneficios{
        width:100%;
        margin-bottom: 30px;
    }
    footer .items-menu{
        width:100%;
        text-align: center;
    }
    .text-footer{
        width:100%;
        text-align: center;
        padding:8px 0;
    }
    footer .items-menu a  {
        display:block;
        margin:10px 0;
        text-align:center;   
    }  
}